@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, #FFEBE8, #E8D9C6);
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
    text-decoration: underline;
}

p {
    text-align: justify;
    font-size: 1.5em;
}