@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    position: relative;
    width: 500px;
    border-collapse: collapse;
}

caption {
    background-color: lightgrey;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

th, td, tr {
    padding: 10px;
    border: 1px solid black;
}

thead, tfoot {
    background-color: gray;
    color: white;
}


.num {
    text-align: right;
}

tbody > tr:nth-child(odd) {
    background-color: white;
}

tbody > tr:nth-child(even) {
    background-color: lightgray;
}